<h1>Connections</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Hostname</th>
    <th>Port</th>
    <th></th>
  </tr>

  <% @connections.each do |connection| %>
    <tr>
      <td><%= connection.name %></td>
      <td><%= connection.hostname %></td>
      <td><%= connection.port %></td>
      <td><%= link_to 'Show', connection_path(connection), class: 'btn btn-primary btn-xs'%></td>
    </tr>
  <% end %>

</table>




<%= link_to 'New connection', new_connection_path, class: 'btn btn-success' %>